<!DOCTYPE html>
<html lang="pt">

<head>
    <meta charset="utf-8">
    <meta content="width=device-width, initial-scale=1.0" name="viewport">

    <title>Problemas Ambientais Urbanos</title>
    <meta content="" name="description">
    <meta content="" name="keywords">

    <link href="../static/img/favicon.png" rel="icon">
    <link href="../static/img/apple-touch-icon.png" rel="apple-touch-icon">

    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Raleway:300,300i,400,400i,500,500i,600,600i,700,700i|Poppins:300,300i,400,400i,500,500i,600,600i,700,700i"
          rel="stylesheet">

    <link href="../static/vendor/aos/aos.css" rel="stylesheet">
    <link href="../static/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
    <link href="../static/vendor/bootstrap-icons/bootstrap-icons.css" rel="stylesheet">
    <link href="../static/vendor/boxicons/css/boxicons.min.css" rel="stylesheet">
    <link href="../static/vendor/glightbox/css/glightbox.min.css" rel="stylesheet">
    <link href="../static/vendor/swiper/swiper-bundle.min.css" rel="stylesheet">


    <link href="../static/css/style.css" rel="stylesheet">
</head>

<body>

<i class="bi bi-list mobile-nav-toggle d-lg-none"></i>
<header id="header" class="d-flex flex-column justify-content-center">

    <nav id="navbar" class="navbar nav-menu">
        <ul>
            <li><a href="#pictureP" class="nav-link scrollto active"><i class="bx bx-home"></i> <span>Home</span></a>
            </li>
            <li><a href="#poluicao" class="nav-link scrollto"><i class="bi bi-1-circle"></i> <span>Poluição</span></a>
            </li>
            <li><a href="#inundacao" class="nav-link scrollto"><i class="bi bi-2-circle"></i></i>
                <span>Inundação</span></a>
            </li>
            <li><a href="#chuvaAcida" class="nav-link scrollto"><i class="bi bi-3-circle"></i></i>
                <span>Chuva ácida</span></a>
            </li>
            <li><a href="#desmatamento" class="nav-link scrollto"><i class="bx bi-4-circle"></i>
                <span>Desmatamento</span></a></li>

        </ul>
    </nav>

</header>
<section id="pictureP" class="d-flex flex-column justify-content-center">
    <div class="container" data-aos="zoom-in" data-aos-delay="100">
        <h2>Problemas Ambientais Urbanos</h2>
        <p>Como evitar <span class="typed"
                             data-typed-items="poluição do ar, inundação, chuva ácida, desmatamento"></span></p>
    </div>
</section>

<main id="main">
    <section id="poluicao" class="poluicao">
        <div class="container" data-aos="fade-up">

            <div class="section-title">
                <h2>Poluição</h2>
                <p>As cidades têm sido os principais representantes sociais e geográficos do mundo para a maioria dos
                    investimentos e serviços desde os primórdios da modernidade industrial incluindo o Brasil,
                    no entanto, esse desonvolvimento urbano traz com ele problemas ambientais como a poluição.</p>
                <p>A poluição do ar é um dos principais agravantes do declínio da qualidade de vida em muitas cidades
                    do mundo, incluindo centros urbanos em países desenvolvidos. Devido a níveis inaceitáveis de
                    poluição do ar, a cidade de Paris decretou em março de 2015 a implementação temporária
                    de um sistema de rodízio de carros.</p>
            </div>

            <div class="row">
                <div class="col-lg-6">


                    <h3 class="poluicao-title">Qual a principal causa da poluição urbana?</h3>
                    <p>
                        Os problemas ambientais urbanos são causados pela industrialização, pelo crescimento acelerado e
                        desordenado das cidades, pelo aumento do número de habitantes e também pelo aumento da
                        quantidade de veículos a combustão que circulam nos centros urbanos.</p>
                    <br>

                    <h3 class="poluicao-title">Consequência da poluição urbana</h3>
                    <p>De acordo com o relatório mais recente da OMS, publicado em 2018, nove em cada dez pessoas no
                        mundo
                        respiram ar contaminado. As Nações Unidas estimam que a má qualidade do ar mata sete milhões de
                        pessoas a cada ano no mundo e mais de 50.000 no Brasil.</p>
                    <p> Segundo Paulo Saldiva, professor
                        da
                        Faculdade de Medicina da USP, um residente de São Paulo, por exemplo, perde em média
                        um
                        ano de vida devido à poluição do ar.</p>
                    <p> Morar em São Paulo é o equivalente a fumar quatro
                        cigarros por dia.</p>

                    <h3 class="poluicao-title">Poluição hídrica nas cidades</h3>
                    <p>A poluição das águas ocorrem de várias maneiras como a má administração dos esgotos e do lixo que
                        com a falta de estrutura ou planejamento incorreto da destinação dos resíduos agrava o
                        problema. Muitas redes de esgoto carecem de estações de tratamento e destinação de
                        água, levando ao despeo de todos os resíduos em rios e
                        nos mares, comprometendo a vida marinha, ecossitemass e a disponibilidade de água potável. </p>


                </div>
                <div class="col-lg-6">
                    <h3 class="poluicao-title">Poluição do solo urbano</h3>
                    <p>O acúmulo de resíduos urbanos em lixões e aterros sanitários produz um líquido poluente conhecido
                        como chorume, esse poluente se infiltra no solo e o torna improdutivo. Além disso, ao atingir o
                        lençol
                        freático, esse tipo de poluição reduz a disponibilidade de água.</p>
                    <p>O principal agente causador da poluição do solo são solventes, lampadas fluorescentes,
                        componentes
                        eletrônicos, chumbo, hidrocarbonetos, entre outros. Esse problema pode ser resolvido com a
                        erradicação dos lixões e o descarte adequado de lixos
                        domésticos.</p>
                    <h3 class="poluicao-title">Maneiras para evitar a poluição</h3>
                    <ul>
                        <li>Usar transporte público.</li>
                        <li>Usar bicicleta.</li>
                        <li>Usar biocombustível.</li>
                        <li>Carona solidária.</li>
                        <li>Não fazer queimadas.</li>
                        <li>Plantar árvores.</li>
                        <li>Incentivar a coleta seletiva de lixo.</li>
                        <li>Investir em praças e parques.</li>
                    </ul>
                </div>
            </div>
        </div>


    </section>


    <section id="inundacao" class="poluicao">
        <div class="container" data-aos="fade-up">

            <div class="section-title">
                <h2>Inundação</h2>
                <p>A inundação é o processo pelo qual áreas que normalmente não estão submersas são submersas fora dos
                    limites normais de um curso d'água.

                    Os assentamentos urbanos são encontrados principalmente em áreas populacionais e planícies, com
                    aumento progressivo de cidades e eventos de inundação, além de impactos nas cidades. Assim, os solos
                    nas cidades são projetados para aumentar o risco de ondas de inundação, mesmo que eventos
                    hidrológicos naturais sejam perdidos, e a taxa de aumento na probabilidade de risco de ondas de
                    inundação. </p>
            </div>

            <div class="row">
                <div class="col-lg-6">
                    <h3 class="poluicao-title">Tipos de inundações</h3>
                    <ul>
                        <li><b>Inundações repentinas</b>
                            <p><em>Ocorrem em áreas montanhosas, como a região
                                sul do país, devido à presença abundante de água num curto período de tempo.
                                Além das areas montanhosas, eles tambem são comuns em vales profundos, e
                                muitas vezes as águas levam a terra sem devido às chuvas nas margens dos rios. A grande
                                quantidade de água representam um poder destrutivo significativo.
                                Chuvas fortes ou moderadas, mas também chuvas resistentes (fortes), podem causar
                                inundações
                                recorrentes quando a capacidade de infiltração do solo se esgota.</em></p></li>
                        <li><b>Inundações lentas</b>
                            <p><em>
                                As inundações são tipicamente cíclicas, sazonais e as inundações na bacia do rio
                                Amazonas são um bom exemplo de periodicidade. Após quase um século de observação e
                                registro,
                                foi determinado que o pico das enchentes na cidade de Manaus ocorre na grande maioria
                                dos
                                anos em meados de junho.</em></p></li>
                        <li><b>Inundações em cidades</b>
                            <p><em>

                                Água acumuladas em leitos de ruas e perímetros urbanos em decorrência de chuvas intensas
                                em
                                cidades com sistemas de drenagem inadequados.
                                Nas cheias, o extravasamento de água é muito mais dependente de uma drenagem deficiente,
                                tornando o escoamento da água acumulada mais difícil do que as chuvas locais.
                            </em></p></li>

                    </ul>


                </div>
                <div class="col-lg-6">
                    <h3 class="poluicao-title">Consequencias das inundações</h3>
                    <p>
                        As inundações matam muitas pessoas no Brasil a cada ano. Outros perdem todos os seus bens
                        acumulados ao longo de muitos anos de trabalho árduo e esforço.
                        Escoamentos e inundações são comuns em áreas urbanas acidentadas como Rio de Janeiro, Belo
                        Horizonte e cidades serranas.
                        A coincidência das marés altas agrava o problema em cidades litorâneas que se desenvolvem em
                        baixas altitudes, como Recife e cidades da Baixada Fluminense.
                        A inundação da cidade.</p>
                    <h3 class="poluicao-title">Maneiras para evitar a inundação</h3>
                    <ul>
                        <li>Planejamento urbano.</li>
                        <li>Não construir cidades em áreas ribeirinhas.</li>
                        <li>Desenvolvimento de projetos de engenharia eficazes para a captação de águas pluviais.</li>
                        <li>Fiscalizar áreas de risco.</li>
                        <li>Indicação de áreas seguras para contrução.</li>
                        <li>Elaboração de planos de evacuação.</li>
                        <li>Multas para quem não praticar as recomendações da prefeitura.</li>
                    </ul>
                </div>
            </div>

        </div>
    </section>

    <section id="chuvaAcida" class="poluicao">
        <div class="container" data-aos="fade-up">

            <div class="section-title">
                <h2>Chuva ácida</h2>
                <p>O termo chuva foi criado pelo inglês Robert Angus Smith para descrever a situação ocorrida em
                    Manchester, no Reino Unido, durante a Revolução Industrial.

                    A chuva ácida é um fenômeno caracterizado pelo aumento da incidência de doenças como o
                    dióxido de enxofre.

                    A chuva tem uma certa quantidade de acidez por conta de óxidos no ar. Uma escala numérica conhecida
                    como pH pode ser
                    usada para determinar a acidez. O pH da
                    chuva é considerado normal por volta de 5,6 e considerada neutra quando nesta escala o pH fica em 7.
                    Como resultado, a solução torna-se mais ácida à medida
                    que o pH diminui. A chuva deve ter um pH inferior a 5,5 para ser considerada ácida.</p>

            </div>

            <div class="row">
                <div class="col-lg-6">
                    <h3 class="poluicao-title">Como ocorre a chuva ácida?</h3>
                    <p>
                        Óxidos ácidos são liberados na
                        atmosfera após a queima de combustíveis fósseis. Quando essa combustão ocorre em grande escala,
                        óxidos ácidos começam a formar nuvens de poluição
                        e névoas que reagem quimicamente com a água da chuva que passa por elas.

                        A água da chuva + óxidos ácidos produz soluções diluídas de ácidos como ácido sulfúrico H2SO4 e
                        ácido nítrico HNO3. Assim, quando a água atinge o solo, ela sofre uma reação química (ao passar
                        por nuvens de poluição) que produz outra solução que se caracteriza precisamente pelo seu teor
                        de ácido, explicando como ocorre a chuva ácida.</p>


                    <h3 class="poluicao-title">Consequências da chuva ácida</h3>

                    <ul>
                        <li>Contaminação do lençol freático.</li>
                        <li>Extinção da fauna e flora.</li>
                        <li>Danificação o solo.</li>
                        <li>Desgaste de construções.</li>
                        <li>Contaminação de rios.</li>
                    </ul>


                </div>
                <div class="col-lg-6">
                    <h3 class="poluicao-title">Lugares mais afetados</h3>
                    <p>A chuva ácida tem o maior impacto nos países desenvolvidos. Os poluentes, por outro lado, podem
                        ser levados pelas correntes de ar.
                        Os efeitos da chuva ácida na natureza incluem a destruição da cobertura vegetal, ácido dos solos
                        e água dos rios e lagos.</p>
                    <h3 class="poluicao-title">Maneiras para evitar a chuva ácdia</h3>
                    <ul>
                        <li>Instalação de filtros para diminuir a quantidade de gases nocivos.</li>
                        <li>Investir em fontes de energia limpa.</li>
                        <li>Investir em pesquisas de eficiência energética.</li>
                        <li>Diminuição do despejo de CO2.</li>
                        <li>Conscientização sobre a importância da redução do consumo de energia e renovação de ar nas
                            casas.
                        </li>
                    </ul>
                </div>
            </div>

        </div>
    </section>

    <section id="desmatamento" class="poluicao">
        <div class="container" data-aos="fade-up">

            <div class="section-title">
                <h2>Desmatamento</h2>
                <p>O desmatamento é a degradação da vegetação nativa da região, que pode levar à desertificação ou a
                    retirada completa da vegetação.
                    Os recursos naturais, como o número de espécies, estão sendo esgotados e expandidos. O homem é um
                    dos principais causadores do desmatamento.

                    O desmatamento é um dos problemas ambientais
                    mais sérios da atualidade, pois, além das florestas e dos recursos naturais, o equilíbrio do planeta
                    nos seus diversos
                    elementos, incluindo os ecossistemas, fica comprometido, afetando seriamente a economia e a
                    sociedade.</p>

            </div>

            <div class="row">
                <div class="col-lg-6">
                    <h3 class="poluicao-title">Desmatamento urbano</h3>
                    <p>
                        Urbanização demanda de desmatamento porque para ter novos espaços para contrução de uma cidade,
                        novos espaços devem ser criados para atender a alta demanda populacional. Assim, grandes áreas
                        de
                        floresta foram derrubadas para criação de rodovias, condomínios centros industriais.</p>


                    <h3 class="poluicao-title">Consequencias do desmatamento</h3>
                    <ul>
                        <li>Perda de biodiversidade</li>
                        <li>Exposição do solo à erosão</li>
                        <li>Perda de serviços ambientais</li>
                        <li>Desertificação</li>
                        <li>Aquecimento global</li>
                        <li>Contribuição para intensificação do efeito estufa, pois o desmatamento libera quantidades
                            significativas de gases de efeito estufa.
                        </li>
                    </ul>


                </div>
                <div class="col-lg-6">

                    <h3 class="poluicao-title">Maneiras para evitar o desmatamento</h3>
                    <p>A maneira mais óbivia de conter o desmatamento é não desmatar.
                        Porem, a economia acaba sendo a prioridade de muitos paises e a destruição da natureza é
                        inevitável.
                        Assim, algumas medidas podem ser tomadas para evitar o desmatamento são:
                    </p>
                    <ul>
                        <li>Incentivar iniciativas privadas que beneficia o cumprimento de normas ambientais</li>
                        <li>Criação de normas ambientais mais rigidas.</li>
                        <li>Usar biocombustível.</li>
                        <li>Incentivo a plantação de flora.</li>
                        <li>Não faça queimadas.</li>
                        <li>Ajude a plantar árvores.</li>
                    </ul>


                </div>
            </div>

        </div>
    </section>

    <section id="email" class="poluicao">
        <div class="container" data-aos="fade-up">

            <div class="col-lg-6">
                <p>Digite seu email para receber semanalmente informações e curiosidades sobre o meio
                    ambiente: </p>
                <form method="post" action="/email">
                    <input type="email" name="email" class="form-control"><br>
                    <button type="submit" onClick="window.location.reload()" class="btn btn-success">Enviar</button>
                </form>
            </div>

        </div>
    </section>

</main>

<script src="../static/vendor/purecounter/purecounter_vanilla.js"></script>
<script src="../static/vendor/aos/aos.js"></script>
<script src="../static/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
<script src="../static/vendor/glightbox/js/glightbox.min.js"></script>
<script src="../static/vendor/isotope-layout/isotope.pkgd.min.js"></script>
<script src="../static/vendor/swiper/swiper-bundle.min.js"></script>
<script src="../static/vendor/typed.js/typed.min.js"></script>
<script src="../static/vendor/waypoints/noframework.waypoints.js"></script>
<script src="../static/vendor/php-email-form/validate.js"></script>
<script src="../static/js/main.js"></script>

</body>

</html>